@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Aparelho na posição vertical*/

body {
    background-image: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
}